target/
*.gem
vendor/
tools/api-parser/.idea/*
tools/api-parser/apiparser.iml
tools/api-parser/dependency-reduced-pom.xml
sdk-test/
**/.idea
**/*.iml
.classpath
.project
.settings
tmp

# Always copied in from Go repo
sdk_samples/
