{
  "paths": {
    "/v2/locations/{location_id}/transactions": {
      "": {"get": {
        "summary": "ListTransactions",
        "tags": ["Transaction"],
        "description": "Lists transactions for a particular location.",
        "parameters": [
          {
            "name": "params",
            "required": false,
            "type": "ListTransactionsRequest.Params",
            "in": "query"
          },
          {
            "name": "cursor",
            "required": false,
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/ListTransactionsResponse"},
          "description": "Success"
        }}
      }},
      "post": {
        "summary": "Charge",
        "tags": ["Transaction"],
        "description": "Charges a card represented by a token.",
        "parameters": [
          {
            "schema": {"$ref": "#/definitions/ChargeRequest"},
            "name": "body",
            "in": "body"
          },
          {
            "name": "location_id",
            "required": true,
            "type": "string",
            "in": "path"
          }
        ],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/ChargeResponse"},
          "description": "Success"
        }}
      }
    },
    "/v2/locations/{location_id}/refunds": {
      "": {"get": {
        "summary": "ListTenderRefunds",
        "tags": ["Refund"],
        "description": "",
        "parameters": [
          {
            "name": "params",
            "required": false,
            "type": "ListTenderRefundsRequest.Params",
            "in": "query"
          },
          {
            "name": "cursor",
            "required": false,
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/ListTenderRefundsResponse"},
          "description": "Success"
        }}
      }},
      "post": {
        "summary": "RefundTender",
        "tags": ["Refund"],
        "description": "",
        "parameters": [{
          "schema": {"$ref": "#/definitions/RefundTenderRequest"},
          "name": "body",
          "in": "body"
        }],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/RefundTenderResponse"},
          "description": "Success"
        }}
      }
    },
    "/v2/customers": {
      "": {"get": {
        "summary": "ListCustomers",
        "tags": ["Customer"],
        "description": "",
        "parameters": [
          {
            "name": "params",
            "required": false,
            "type": "ListCustomersRequest.Params",
            "in": "query"
          },
          {
            "name": "cursor",
            "required": false,
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/ListCustomersResponse"},
          "description": "Success"
        }}
      }},
      "post": {
        "summary": "UpsertCustomer",
        "tags": ["Customer"],
        "description": "",
        "parameters": [{
          "schema": {"$ref": "#/definitions/UpsertCustomerRequest"},
          "name": "body",
          "in": "body"
        }],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/UpsertCustomerResponse"},
          "description": "Success"
        }}
      }
    },
    "/v2/customers/{customer_id}": {
      "": {"delete": {
        "summary": "DeleteCustomer",
        "tags": ["Customer"],
        "description": "",
        "parameters": [{
          "name": "customer_id",
          "required": true,
          "type": "string",
          "in": "query"
        }],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/DeleteCustomerResponse"},
          "description": "Success"
        }}
      }},
      "get": {
        "summary": "RetrieveCustomer",
        "tags": ["Customer"],
        "description": "",
        "parameters": [{
          "name": "customer_id",
          "required": true,
          "type": "string",
          "in": "query"
        }],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/RetrieveCustomerResponse"},
          "description": "Success"
        }}
      }
    },
    "/v2/locations": {"get": {
      "summary": "ListLocations",
      "tags": ["Location"],
      "description": "Provides summary information for all of a business's locations.",
      "parameters": [],
      "responses": {"200": {
        "schema": {"$ref": "#/definitions/ListLocationsResponse"},
        "description": "Success"
      }}
    }},
    "/v2/locations/{location_id}/transactions/{transaction_id}": {
      "": {"get": {
        "summary": "RetrieveTransaction",
        "tags": ["Transaction"],
        "description": "Retrieves details for a single transaction.",
        "parameters": [
          {
            "name": "location_id",
            "required": true,
            "type": "string",
            "in": "path"
          },
          {
            "name": "transaction_id",
            "required": true,
            "type": "string",
            "in": "path"
          }
        ],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/RetrieveTransactionResponse"},
          "description": "Success"
        }}
      }},
      "post": {
        "summary": "CaptureTransaction",
        "tags": ["Transaction"],
        "description": "For executing delayed capture.",
        "parameters": [{
          "schema": {"$ref": "#/definitions/CaptureTransactionRequest"},
          "name": "body",
          "in": "body"
        }],
        "responses": {"200": {
          "schema": {"$ref": "#/definitions/CaptureTransactionResponse"},
          "description": "Success"
        }}
      }
    },
    "/v2/customers/{customer_id}/cards/{card_id}": {"delete": {
      "summary": "DeleteCustomerCard",
      "tags": ["Customer.Card"],
      "description": "",
      "parameters": [
        {
          "name": "customer_id",
          "required": true,
          "type": "string",
          "in": "query"
        },
        {
          "name": "card_id",
          "required": true,
          "type": "string",
          "in": "query"
        }
      ],
      "responses": {"200": {
        "schema": {"$ref": "#/definitions/DeleteCustomerCardResponse"},
        "description": "Success"
      }}
    }},
    "/v2/customers/{customer_id}/cards": {"post": {
      "summary": "CreateCustomerCard",
      "tags": ["Customer.Card"],
      "description": "",
      "parameters": [{
        "schema": {"$ref": "#/definitions/CreateCustomerCardRequest"},
        "name": "body",
        "in": "body"
      }],
      "responses": {"200": {
        "schema": {"$ref": "#/definitions/CreateCustomerCardResponse"},
        "description": "Success"
      }}
    }}
  },
  "host": "connect.squareup.com",
  "schemes": ["https"],
  "produces": ["application/json"],
  "swagger": "2.0",
  "definitions": {
    "CreateCardNonceResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "card": {"$ref": "#/definitions/Card"},
        "card_nonce": {"type": "string"}
      },
      "type": "object"
    },
    "VoidTransactionResponse": {
      "description": "",
      "properties": {"errors": {"$ref": "#/definitions/Error"}},
      "type": "object"
    },
    "ListTransactionsRequest.Params": {
      "description": "",
      "properties": {
        "ordered_time_range": {"$ref": "#/definitions/OrderedTimeRange"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "DeleteCustomerResponse": {
      "description": "",
      "properties": {"errors": {"$ref": "#/definitions/Error"}},
      "type": "object"
    },
    "CreateCustomerCardRequest": {
      "description": "",
      "properties": {
        "card_nonce": {"type": "string"},
        "cardholder_name": {"type": "string"},
        "customer_id": {"type": "string"},
        "billing_address": {"$ref": "#/definitions/Address"}
      },
      "type": "object"
    },
    "RetrieveCustomerResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "customer": {"$ref": "#/definitions/Customer"}
      },
      "type": "object"
    },
    "OrderedTimeRange": {
      "description": "",
      "properties": {
        "sort": {"$ref": "#/definitions/Sort"},
        "begin_time": {"type": "string"},
        "end_time": {"type": "string"}
      },
      "type": "object"
    },
    "RetrieveTransactionResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "transaction": {"$ref": "#/definitions/Transaction"}
      },
      "type": "object"
    },
    "CreateCardNonceRequest": {
      "description": "",
      "properties": {
        "fingerprint_components_json": {"type": "string"},
        "fingerprint": {"type": "string"},
        "card_data": {"$ref": "#/definitions/CardData"},
        "business_id": {"type": "string"},
        "client_id": {"type": "string"}
      },
      "type": "object"
    },
    "DeleteCustomerCardRequest": {
      "description": "",
      "properties": {
        "card_id": {"type": "string"},
        "customer_id": {"type": "string"}
      },
      "type": "object"
    },
    "TenderRefund": {
      "description": "",
      "properties": {
        "id": {"type": "string"},
        "amount_money": {"$ref": "#/definitions/Money"},
        "status": {"$ref": "#/definitions/Status"},
        "reason": {"type": "string"},
        "source_transaction_id": {"type": "string"},
        "business_id": {"type": "string"},
        "created_at": {"type": "string"},
        "source_tender_id": {"type": "string"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "Currency": {
      "description": "",
      "enum": [
        "AED",
        "AFN",
        "ALL",
        "AMD",
        "ANG",
        "AOA",
        "ARS",
        "AUD",
        "AWG",
        "AZN",
        "BAM",
        "BBD",
        "BDT",
        "BGN",
        "BHD",
        "BIF",
        "BMD",
        "BND",
        "BOB",
        "BOV",
        "BRL",
        "BSD",
        "BTN",
        "BWP",
        "BYR",
        "BZD",
        "CAD",
        "CDF",
        "CHE",
        "CHF",
        "CHW",
        "CLF",
        "CLP",
        "CNY",
        "COP",
        "COU",
        "CRC",
        "CUC",
        "CUP",
        "CVE",
        "CZK",
        "DJF",
        "DKK",
        "DOP",
        "DZD",
        "EGP",
        "ERN",
        "ETB",
        "EUR",
        "FJD",
        "FKP",
        "GBP",
        "GEL",
        "GHS",
        "GIP",
        "GMD",
        "GNF",
        "GTQ",
        "GYD",
        "HKD",
        "HNL",
        "HRK",
        "HTG",
        "HUF",
        "IDR",
        "ILS",
        "INR",
        "IQD",
        "IRR",
        "ISK",
        "JMD",
        "JOD",
        "JPY",
        "KES",
        "KGS",
        "KHR",
        "KMF",
        "KPW",
        "KRW",
        "KWD",
        "KYD",
        "KZT",
        "LAK",
        "LBP",
        "LKR",
        "LRD",
        "LSL",
        "LTL",
        "LVL",
        "LYD",
        "MAD",
        "MDL",
        "MGA",
        "MKD",
        "MMK",
        "MNT",
        "MOP",
        "MRO",
        "MUR",
        "MVR",
        "MWK",
        "MXN",
        "MXV",
        "MYR",
        "MZN",
        "NAD",
        "NGN",
        "NIO",
        "NOK",
        "NPR",
        "NZD",
        "OMR",
        "PAB",
        "PEN",
        "PGK",
        "PHP",
        "PKR",
        "PLN",
        "PYG",
        "QAR",
        "RON",
        "RSD",
        "RUB",
        "RWF",
        "SAR",
        "SBD",
        "SCR",
        "SDG",
        "SEK",
        "SGD",
        "SHP",
        "SLL",
        "SOS",
        "SRD",
        "SSP",
        "STD",
        "SVC",
        "SYP",
        "SZL",
        "THB",
        "TJS",
        "TMT",
        "TND",
        "TOP",
        "TRY",
        "TTD",
        "TWD",
        "TZS",
        "UAH",
        "UGX",
        "USD",
        "USN",
        "USS",
        "UYI",
        "UYU",
        "UZS",
        "VEF",
        "VND",
        "VUV",
        "WST",
        "XAF",
        "XAG",
        "XAU",
        "XBA",
        "XBB",
        "XBC",
        "XBD",
        "XCD",
        "XDR",
        "XOF",
        "XPD",
        "XPF",
        "XPT",
        "XTS",
        "XXX",
        "YER",
        "ZAR",
        "ZMK",
        "ZMW",
        "BTC"
      ],
      "type": "string"
    },
    "ChargeRequest.CustomerCardInstrument": {
      "description": "",
      "properties": {"customer_card_id": {"type": "string"}},
      "type": "object"
    },
    "OrderedTimeRange.Sort": {
      "description": "",
      "enum": [
        "DESC",
        "ASC"
      ],
      "type": "string"
    },
    "Tender.CardDetails": {
      "description": "",
      "properties": {
        "status": {"$ref": "#/definitions/CardDetails.Status"},
        "card": {"$ref": "#/definitions/Card"}
      },
      "type": "object"
    },
    "ListCustomersRequest.Params": {
      "description": "",
      "properties": {},
      "type": "object"
    },
    "Location.Capability": {
      "description": "",
      "enum": ["CREDIT_CARD_PROCESSING"],
      "type": "string"
    },
    "UpsertCustomerRequest": {
      "description": "",
      "properties": {"customer": {"$ref": "#/definitions/Customer"}},
      "type": "object"
    },
    "Country": {
      "description": "",
      "enum": [
        "ZZ",
        "AD",
        "AE",
        "AF",
        "AG",
        "AI",
        "AL",
        "AM",
        "AO",
        "AQ",
        "AR",
        "AS",
        "AT",
        "AU",
        "AW",
        "AX",
        "AZ",
        "BA",
        "BB",
        "BD",
        "BE",
        "BF",
        "BG",
        "BH",
        "BI",
        "BJ",
        "BL",
        "BM",
        "BN",
        "BO",
        "BQ",
        "BR",
        "BS",
        "BT",
        "BV",
        "BW",
        "BY",
        "BZ",
        "CA",
        "CC",
        "CD",
        "CF",
        "CG",
        "CH",
        "CI",
        "CK",
        "CL",
        "CM",
        "CN",
        "CO",
        "CR",
        "CU",
        "CV",
        "CW",
        "CX",
        "CY",
        "CZ",
        "DE",
        "DJ",
        "DK",
        "DM",
        "DO",
        "DZ",
        "EC",
        "EE",
        "EG",
        "EH",
        "ER",
        "ES",
        "ET",
        "FI",
        "FJ",
        "FK",
        "FM",
        "FO",
        "FR",
        "GA",
        "GB",
        "GD",
        "GE",
        "GF",
        "GG",
        "GH",
        "GI",
        "GL",
        "GM",
        "GN",
        "GP",
        "GQ",
        "GR",
        "GS",
        "GT",
        "GU",
        "GW",
        "GY",
        "HK",
        "HM",
        "HN",
        "HR",
        "HT",
        "HU",
        "ID",
        "IE",
        "IL",
        "IM",
        "IN",
        "IO",
        "IQ",
        "IR",
        "IS",
        "IT",
        "JE",
        "JM",
        "JO",
        "JP",
        "KE",
        "KG",
        "KH",
        "KI",
        "KM",
        "KN",
        "KP",
        "KR",
        "KW",
        "KY",
        "KZ",
        "LA",
        "LB",
        "LC",
        "LI",
        "LK",
        "LR",
        "LS",
        "LT",
        "LU",
        "LV",
        "LY",
        "MA",
        "MC",
        "MD",
        "ME",
        "MF",
        "MG",
        "MH",
        "MK",
        "ML",
        "MM",
        "MN",
        "MO",
        "MP",
        "MQ",
        "MR",
        "MS",
        "MT",
        "MU",
        "MV",
        "MW",
        "MX",
        "MY",
        "MZ",
        "NA",
        "NC",
        "NE",
        "NF",
        "NG",
        "NI",
        "NL",
        "NO",
        "NP",
        "NR",
        "NU",
        "NZ",
        "OM",
        "PA",
        "PE",
        "PF",
        "PG",
        "PH",
        "PK",
        "PL",
        "PM",
        "PN",
        "PR",
        "PS",
        "PT",
        "PW",
        "PY",
        "QA",
        "RE",
        "RO",
        "RS",
        "RU",
        "RW",
        "SA",
        "SB",
        "SC",
        "SD",
        "SE",
        "SG",
        "SH",
        "SI",
        "SJ",
        "SK",
        "SL",
        "SM",
        "SN",
        "SO",
        "SR",
        "SS",
        "ST",
        "SV",
        "SX",
        "SY",
        "SZ",
        "TC",
        "TD",
        "TF",
        "TG",
        "TH",
        "TJ",
        "TK",
        "TL",
        "TM",
        "TN",
        "TO",
        "TR",
        "TT",
        "TV",
        "TW",
        "TZ",
        "UA",
        "UG",
        "UM",
        "US",
        "UY",
        "UZ",
        "VA",
        "VC",
        "VE",
        "VG",
        "VI",
        "VN",
        "VU",
        "WF",
        "WS",
        "YE",
        "YT",
        "ZA",
        "ZM",
        "ZW"
      ],
      "type": "string"
    },
    "ChargeRequest.CardNonceInstrument": {
      "description": "",
      "properties": {"card_nonce": {"type": "string"}},
      "type": "object"
    },
    "ListTransactionsRequest": {
      "description": "",
      "properties": {
        "cursor": {"type": "string"},
        "params": {"$ref": "#/definitions/ListTransequest.Params"}
      },
      "type": "object"
    },
    "Card.Brand": {
      "description": "",
      "enum": [
        "OTHER_BRAND",
        "VISA",
        "MASTERCARD",
        "AMERICAN_EXPRESS",
        "DISCOVER",
        "DISCOVER_DINERS",
        "JCB",
        "CHINA_UNIONPAY",
        "SQUARE_GIFT_CARD"
      ],
      "type": "string"
    },
    "ListTenderRefundsResponse": {
      "description": "",
      "properties": {
        "cursor": {"type": "string"},
        "errors": {"$ref": "#/definitions/Error"},
        "refund": {"$ref": "#/definitions/TenderRefund"}
      },
      "type": "object"
    },
    "ListCustomersRequest": {
      "description": "",
      "properties": {
        "cursor": {"type": "string"},
        "params": {"$ref": "#/definitions/ListCustomersRequest.Params"}
      },
      "type": "object"
    },
    "ListTenderRefundsRequest.Params": {
      "description": "",
      "properties": {
        "ordered_time_range": {"$ref": "#/definitions/OrderedTimeRange"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "ChargeRequest": {
      "description": "",
      "properties": {
        "shipping_address": {"$ref": "#/definitions/Address"},
        "amount_money": {"$ref": "#/definitions/Money"},
        "customer_card": {"$ref": "#/definitions/ChargeRequest.CustomerCardInstrument"},
        "reference_id": {"type": "string"},
        "delay_capture": {"type": "boolean"},
        "idempotency_key": {"type": "string"},
        "card_nonce": {"$ref": "#/definitions/ChargeRequest.CardNonceInstrument"},
        "customer_browser_ip_address": {"type": "string"},
        "customer_id": {"type": "string"},
        "note": {"type": "string"},
        "billing_address": {"$ref": "#/definitions/Address"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "ListTransactionsResponse": {
      "description": "",
      "properties": {
        "transactions": {"$ref": "#/definitions/Transaction"},
        "cursor": {"type": "string"},
        "errors": {"$ref": "#/definitions/Error"}
      },
      "type": "object"
    },
    "DeleteCustomerRequest": {
      "description": "",
      "properties": {"customer_id": {"type": "string"}},
      "type": "object"
    },
    "ListLocationsRequest": {
      "description": "",
      "properties": {},
      "type": "object"
    },
    "ChargeResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "transaction": {"$ref": "#/definitions/Transaction"}
      },
      "type": "object"
    },
    "CaptureTransactionResponse": {
      "description": "",
      "properties": {"errors": {"$ref": "#/definitions/Error"}},
      "type": "object"
    },
    "Error.Type": {
      "description": "",
      "enum": [
        "INTERNAL_SERVER_ERROR",
        "UNAUTHORIZED",
        "ACCESS_TOKEN_EXPIRED",
        "ACCESS_TOKEN_REVOKED",
        "FORBIDDEN",
        "INSUFFICIENT_SCOPES",
        "APPLICATION_DISABLED",
        "V1_APPLICATION",
        "V1_ACCESS_TOKEN",
        "CARD_PROCESSING_NOT_ENABLED",
        "BAD_REQUEST",
        "MISSING_REQUIRED_PARAMETER",
        "INCORRECT_TYPE",
        "INVALID_TIME",
        "INVALID_TIME_RANGE",
        "INVALID_VALUE",
        "INVALID_CURSOR",
        "UNKNOWN_QUERY_PARAMETER",
        "CONFLICTING_PARAMETERS",
        "EXPECTED_JSON_BODY",
        "INVALID_SORT_ORDER",
        "VALUE_TOO_LONG",
        "VALUE_TOO_LOW",
        "EXPECTED_BOOLEAN",
        "EXPECTED_INTEGER",
        "EXPECTED_FLOAT",
        "EXPECTED_STRING",
        "EXPECTED_OBJECT",
        "EXPECTED_ARRAY",
        "INVALID_ARRAY_VALUE",
        "INVALID_ENUM_VALUE",
        "INVALID_CONTENT_TYPE",
        "INVALID_FORM_VALUE",
        "CARD_DECLINED",
        "CARD_EXPIRED",
        "VERIFY_CVV_FAILURE",
        "VERIFY_AVS_FAILURE",
        "INVALID_EXPIRATION",
        "INVALID_EXPIRATION_YEAR",
        "INVALID_EXPIRATION_DATE",
        "INVALID_CARD",
        "DELAYED_TRANSACTION_EXPIRED",
        "DELAYED_TRANSACTION_CANCELED",
        "DELAYED_TRANSACTION_CAPTURED",
        "DELAYED_TRANSACTION_FAILED",
        "CARD_TOKEN_EXPIRED",
        "CARD_TOKEN_USED",
        "AMOUNT_TOO_HIGH",
        "REFUND_AMOUNT_INVALID",
        "REFUND_ALREADY_PENDING",
        "PAYMENT_NOT_REFUNDABLE",
        "INVALID_CARD_DATA",
        "NOT_FOUND",
        "REQUEST_TIMEOUT",
        "REQUEST_ENTITY_TOO_LARGE",
        "UNSUPPORTED_MEDIA_TYPE",
        "RATE_LIMITED",
        "NOT_IMPLEMENTED",
        "SERVICE_UNAVAILABLE"
      ],
      "type": "string"
    },
    "ListTenderRefundsRequest": {
      "description": "",
      "properties": {
        "cursor": {"type": "string"},
        "params": {"$ref": "#/definitions/ListTenderRefundsRequest.Params"}
      },
      "type": "object"
    },
    "CaptureTransactionRequest": {
      "description": "",
      "properties": {
        "transaction_id": {"type": "string"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "Tender": {
      "description": "",
      "properties": {
        "id": {"type": "string"},
        "processing_fee_money": {"$ref": "#/definitions/Money"},
        "amount_money": {"$ref": "#/definitions/Money"},
        "business_id": {"type": "string"},
        "created_at": {"type": "string"},
        "card_details": {"$ref": "#/definitions/Tender.CardDetails"},
        "customer_id": {"type": "string"},
        "note": {"type": "string"},
        "transaction_id": {"type": "string"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "DeleteCustomerCardResponse": {
      "description": "",
      "properties": {"errors": {"$ref": "#/definitions/Error"}},
      "type": "object"
    },
    "TenderRefund.Status": {
      "description": "",
      "enum": [
        "UNKNOWN",
        "PENDING",
        "APPROVED",
        "REJECTED",
        "FAILED"
      ],
      "type": "string"
    },
    "CreateCustomerCardResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "card": {"$ref": "#/definitions/Card"}
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "locations": {"$ref": "#/definitions/Location"}
      },
      "type": "object"
    },
    "Customer": {
      "description": "",
      "properties": {
        "id": {"type": "string"},
        "phone_number": {"type": "string"},
        "updated_at": {"type": "string"},
        "memo": {"type": "string"},
        "address": {"$ref": "#/definitions/Address"},
        "nickname": {"type": "string"},
        "business_id": {"type": "string"},
        "family_name": {"type": "string"},
        "created_at": {"type": "string"},
        "given_name": {"type": "string"},
        "cards": {"$ref": "#/definitions/Card"},
        "email_address": {"type": "string"}
      },
      "type": "object"
    },
    "Transaction": {
      "description": "",
      "properties": {
        "id": {"type": "string"},
        "reference_id": {"type": "string"},
        "business_id": {"type": "string"},
        "created_at": {"type": "string"},
        "tenders": {"$ref": "#/definitions/Tender"},
        "tender_refunds": {"$ref": "#/definitions/TenderRefund"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "Money": {
      "description": "",
      "properties": {
        "amount": {"type": "integer"},
        "currency": {"$ref": "#/definitions/Currency"}
      },
      "type": "object"
    },
    "Location": {
      "description": "",
      "properties": {
        "id": {"type": "string"},
        "timezone": {"type": "string"},
        "address": {"$ref": "#/definitions/Address"},
        "name": {"type": "string"},
        "business_id": {"type": "string"},
        "capabilities": {"$ref": "#/definitions/Location.Capability"}
      },
      "type": "object"
    },
    "RetrieveTransactionRequest": {
      "description": "",
      "properties": {
        "transaction_id": {"type": "string"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "Error": {
      "description": "",
      "properties": {
        "field": {"type": "string"},
        "detail": {"type": "string"},
        "type": {"$ref": "#/definitions/Error.Type"}
      },
      "type": "object"
    },
    "RefundTenderRequest": {
      "description": "",
      "properties": {
        "amount_money": {"$ref": "#/definitions/Money"},
        "reason": {"type": "string"},
        "source_transaction_id": {"type": "string"},
        "idempotency_key": {"type": "string"},
        "source_tender_id": {"type": "string"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "ListCustomersResponse": {
      "description": "",
      "properties": {
        "cursor": {"type": "string"},
        "errors": {"$ref": "#/definitions/Error"},
        "customers": {"$ref": "#/definitions/Customer"}
      },
      "type": "object"
    },
    "RefundTenderResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "refund": {"$ref": "#/definitions/TenderRefund"}
      },
      "type": "object"
    },
    "VoidTransactionRequest": {
      "description": "",
      "properties": {
        "transaction_id": {"type": "string"},
        "location_id": {"type": "string"}
      },
      "type": "object"
    },
    "RetrieveCustomerRequest": {
      "description": "",
      "properties": {"customer_id": {"type": "string"}},
      "type": "object"
    },
    "Address": {
      "description": "",
      "properties": {
        "region": {"type": "string"},
        "region_2": {"type": "string"},
        "line_3": {"type": "string"},
        "postal_code": {"type": "string"},
        "locality": {"type": "string"},
        "line_1": {"type": "string"},
        "sublocality": {"type": "string"},
        "line_2": {"type": "string"},
        "sublocality_3": {"type": "string"},
        "region_3": {"type": "string"},
        "sublocality_2": {"type": "string"},
        "country": {"$ref": "#/definitions/Country"}
      },
      "type": "object"
    },
    "CardDetails.Status": {
      "description": "",
      "enum": [
        "UNKNOWN",
        "AUTHORIZED",
        "CAPTURED",
        "VOIDED",
        "FAILED"
      ],
      "type": "string"
    },
    "UpsertCustomerResponse": {
      "description": "",
      "properties": {
        "errors": {"$ref": "#/definitions/Error"},
        "customer": {"$ref": "#/definitions/Customer"}
      },
      "type": "object"
    },
    "CardData": {
      "description": "",
      "properties": {
        "exp_year": {"type": "integer"},
        "exp_month": {"type": "integer"},
        "cvv": {"type": "string"},
        "number": {"type": "string"}
      },
      "type": "object"
    },
    "Card": {
      "description": "",
      "properties": {
        "id": {"type": "string"},
        "exp_year": {"type": "integer"},
        "exp_month": {"type": "integer"},
        "card_brand": {"$ref": "#/definitions/Card.Brand"},
        "last_4": {"type": "string"},
        "cardholder_name": {"type": "string"},
        "billing_address": {"$ref": "#/definitions/Address"}
      },
      "type": "object"
    }
  },
  "consumes": ["application/json"],
  "info": {
    "title": "Square Connect API",
    "version": "2.0"
  }
}
